a, button { text-decoration: none; }

// contac me

.contact-me.open {
  opacity: 1;
  z-index: 1300;
  pointer-events: auto;
}

.contact-me {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.open-blur {
  z-index: 12;
  filter: blur(2px);
  pointer-events: none;
}

.container-contact-me {
  width: 542px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 24px;
  border: 3px solid #352F2A;
  background: #E8E4D9;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.title-contact-me-success {
  color: #352F2A;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block-contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-contact-me {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 136.498%;
}

.title-contact-me-success-bottom {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 36px;
}

.image-contact-me {
  cursor: pointer;
}

.container-contact-me {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.block-input-contact-me {
display: flex;
flex-direction: column;
gap: 16px;
}

.input-contact {
border-radius: 8px;
background: #DAD5C9;
border: 1px solid #352F2A;
padding: 16px;
color: #5C544C;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 64px;
width: 100%;
}

.button-contact-me {
color: #E8E4D9;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 40px;
background: #352F2A;
width: 212px;
height: 60px;
border: #352F2A 1px solid;
transition: all 0.3s ease ;
margin-top: 36px;
}

.button-contact-me:hover {
background: #E8E4D9;
color: #352F2A;
}

.open-blur {
opacity: 0.51;
background: #E8E4D9;
filter: blur(2px);
pointer-events: none;
}

// HEADER

.header {
  padding: 24px 40px;
  background-color: #352F2A;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-buttons {
  display: flex;
  gap: 16px;
}

.title-glorious {
  color: #E8E4D9;
  font-family: "SONGER SemiExpanded";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 0;
}

.terms-of-use{
  color: #E8E4D9;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-decoration: underline;
}

.button-contact {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #E8E4D9 1px solid;
  display: flex;
  height: 60px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #E8E4D9;
  transition: all 0.3s ease;
}

.button-contact:hover {
  background: #352F2A;
  color: #E8E4D9;
}

// MAIN

.blog-info {
  max-width: 100%;
  background-color: #E8E4D9;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100%;
  padding: 120px;
  padding-top: 24px;
}

.block-blog-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
}

.block-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-blog-info {
  max-width: 100%;
}

.image-blog-info-arrow {
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-bottom: 12px;
  transform: rotate(224deg);
}

.title-blog-info {
  color: #352F2A;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.image-x {
  position: absolute;
}

.text-blog-info {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 0;
}

.blog-text {
  margin: 0;
}

.bold-text {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  // header
  .header {
    padding: 24px 32px;
  }
  .title-glorious {
    font-size: 32px;
  }
  .button-contact {
    font-size: 20px;
    height: 48px;
    padding: 11px 32px;
  }
  // main
  .container {
    padding: 100px;
    padding-top: 26px;
  }
  .title-blog-info {
    font-size: 32px;
  }
  .text-blog-info,
  .bold-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .header {
    padding: 30px 16px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100px;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    width: 130px;
    height: 36px;
    padding: 0;
  }
  // main
  .container {
    padding: 80px;
    padding-top: 26px;
  }
  .image-x {
    width: 48px;
    height: 48px;
  }
  .title-blog-info {
    font-size: 32px;
  }
  .text-blog-info,
  .blog-text {
    font-size: 18px;
  }
  .blog-info {
    padding: 0;
  }
  .blog-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .header {
    padding: 24px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    padding: 9px 32px;
  }
  // main
  .blog-info {
    padding: 0;
  }
  .container {
    max-width: 100%;
    flex-direction: column;
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 64px;
  }
  .container-blog-info {
    display: flex;
    flex-direction: column-reverse;
  }
  .block-blog-info {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .image-blog-info {
    max-width: 100%;
    height: auto;
  }
  .image-blog-info-arrow {
    margin: 10px 0;
  }
  .image-blog-info {
    margin-top: 10px;
  }
  .container-text {
    margin-left: 0;
  }
  .block-text {
    gap: 0;
  }
  .title-blog-info {
    color: #352F2A;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.498%;
  }
  .text-blog-info {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.498%;
    margin-top: 0;
  }
   // contact me
   .container-contact-me {
    width: 288px;
    height: 242px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #352F2A;
    background: #E8E4D9;
    padding: 24px 16px;
  }
  .title-contact-me {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.498%;
    margin-top: 0;
  }
  .input-contact,
  .input-contact::placeholder {
    font-size: 16px;
    height: 46px;
  }
  .button-contact-me {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 112px;
    height: 36px;
    margin-top: 8px;
  }
  .image-contact-me {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .header {
    padding: 30px 16px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100px;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    width: 130px;
    height: 36px;
    padding: 0;
  }
  // main
  .blog-info {
    padding: 16px;
    padding-bottom: 64px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .container-blog-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }
  .image-blog-info {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  .container-text {
    margin-left: 0;
  }
  .block-text {
    gap: 0;
  }
  .block-blog-info {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .title-blog-info {
    color: #352F2A;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.498%;
    margin: 0;
    margin-bottom: 8px;
  }
  .text-blog-info {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.498%;
    margin: 0;
    margin-top: 8px;
  }
  .title-blog-info {
    margin-bottom: 0;
  }
  .menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .image-blog-info-arrow {
    width: 20px;
    height: 20px;
  }
  // contact me
  .container-contact-me {
    width: 288px;
    height: auto;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #352F2A;
    background: #E8E4D9;
    padding: 16px;
  }
  .title-contact-me {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.498%;
    margin-top: 0;
  }
  .input-contact,
  .input-contact::placeholder {
    font-size: 16px;
    height: 46px;
  }
  .title-contact-me-success {
    font-size: 20px;
  }
  .title-contact-me-success-bottom{
    font-size: 13px;
  }
  .button-contact-me {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 112px;
    height: 36px;
    margin-top: 12px;
  }
  .image-contact-me {
    width: 32px;
    height: 32px;
  }
}