<div class="header">
    <div class="container-header">
        <p class="title-glorious" routerLink="">GLORIOUS</p>
        @if(isAdmin){
          <a class="button-contact" routerLink="/catalog/new">
            ДОДАТИ ТОВАР
          </a>
        }@else {
          <button class="button-contact">
            КОНТАКТ З НАМИ
          </button>
        }
        
    </div>
</div>
<div class="main">
    <div class="container-main">
        <p class="title-main" routerLink=""><span class="title-main-span">Головна/</span>Каталог</p>
        <p class="title-main-text">всі товари</p>
        <div *ngIf="isAdmin" class="block-main-add-category">
          <div class="block-main-add-category-button">
            <div *ngFor="let input of inputFields; let i = index; trackBy: trackByIndex" class="input-wrapper">
              <input
                [(ngModel)]="inputFields[i]"
                class="btn-category-add-input"
                placeholder="Додати товар..."
              />
              <!-- Хрестик відображається тільки якщо в інпуті є текст -->
              <img
                *ngIf="inputFields[i]"
                (click)="removeInputField(i)"
                class="image-category-add"
                src="../../../assets/x.svg"
                alt="Видалити категорію"
              />
            </div>
          </div>
          <div class="block-main-add-category-plus">
            <button (click)="addInputField()" class="button-main-add-category-plus">
              <span class="image-main-add-category-plus">+</span>
            </button>
          </div>
        </div>
        <ul *ngIf="!isAdmin" class="list-main">
          <li class="item-main">ДИВАНИ</li>
          <li class="item-main">КУТИ</li>
          <li class="item-main none-item">ЛІЖКА</li>
        </ul>               
        <div class="block-popular">
        <ul class="list-popular">
            @for(product of products; track $index){
              <li class="item-popular" [routerLink]="product._id">
                <img class="image-popular-arrow" src="../assets/arrow-up-right.svg" alt="">
                <img class="image-popular" [src]="product.images?.[0]?.thumbnailUrl" alt="" draggable="false">
                <p class="text-popular">{{product.name}}</p>
              </li>
            }
          </ul>
        </div>
    </div>
</div>
<div class="footer" id="contact">
    <div class="container-footer-top">
        <p class="title-footer">GLORIOUS</p>
        <div class="block-footer">
          <div class="list-footer">
            <p class="title-text-footer">ПРО НАС</p>
            <p class="text-footer">КОМФОРТ НА РОКИ</p>
            <p class="text-footer">ПОПУЛЯРНІ ТОВАРИ</p>
            <p class="text-footer">НАШІ ПЕРЕВАГИ</p>
          </div>
          <div class="list-footer">
            <p class="title-text-footer">ЗВ’ЯЗОК</p>
            <a href="tel:+380 73 800 4410" class="text-footer">+380 73 800 4410</a>
            <a href="tel:+380 68 800 4410" class="text-footer">+380 68 800 4410</a>
            <a href="mailto:gloriousmebel&#64;gmail.com" class="text-footer">gloriousmebel&#64;gmail.com</a>
          </div>
          <div class="list-footer">
            <p class="title-text-footer">СЛІДКУЙ ЗА НАМИ</p>
            <a href="https://www.facebook.com/profile.php?id=61563935930922" class="text-footer" target="_blank">FACEBOOK</a>
            <a href="https://www.instagram.com/glorious_sofa/" class="text-footer" target="_blank">INSTAGRAM</a>
          </div>
        </div>
      </div>
      <div class="container-footer-bottom">
        <div class="block-footer-bottom">
          <p class="title-text-footer">НАША АДРЕСА</p>
          <a href="https://maps.app.goo.gl/V6pgHoX6BtCKdhSL6" class="text-footer" target="_blank">Черкаси Вул. Чорновола Вʼячеслава Будинок 175</a>
        </div>
        <div>
          <p class="text-footer">Всі права захищені All rights reserved</p>
        </div>
      </div>
</div>
