// CONTACT ME

.contact-me.open {
  opacity: 1;
  pointer-events: auto;
}

.contact-me {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.container-contact-me {
width: 542px;
height: 406px;
flex-shrink: 0;
border-radius: 24px;
border: 3px solid #352F2A;
background: #E8E4D9;
display: flex;
flex-direction: column;
padding: 40px;
padding-top: 20px;
}

.block-contact-me {
display: flex;
justify-content: space-between;
align-items: center;
}

.title-contact-me {
color: #352F2A;
font-family: Manrope;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 136.498%;
}

.image-contact-me {
cursor: pointer;
}

.container-contact-me {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.block-input-contact-me {
display: flex;
flex-direction: column;
gap: 16px;
}

.input-contact {
border-radius: 8px;
background: #DAD5C9;
border: 1px solid #352F2A;
padding: 16px;
color: #5C544C;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 64px;
width: 100%;
}

.button-contact-me {
color: #E8E4D9;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 40px;
background: #352F2A;
width: 212px;
height: 60px;
border: #352F2A 1px solid;
transition: all 0.3s ease ;
}

.button-contact-me:hover {
background: #E8E4D9;
color: #352F2A;
}

.open-blur {
opacity: 0.51;
background: #E8E4D9;
filter: blur(2px);
pointer-events: none;
}

.header {
    padding: 24px 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-glorious {
    color: #E8E4D9;
    font-family: "SONGER SemiExpanded";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: #E8E4D9 1px solid;
    display: flex;
    height: 60px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #E8E4D9;
    transition: all 0.3s ease;
}

.button-contact:hover {
    background: #352F2A;
    color: #E8E4D9;
}

// MAIN

.main {
    width: 100%;
    padding: 0 40px;
    background-color: #E8E4D9;
    padding-top: 34px;
    padding-bottom: 80px;
}

.title-main {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    cursor: pointer;
    width: 170px;
}

.title-main-span {
    color: #63574E;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-main-text {
    color: #352F2A;
    font-family: "SONGER SemiExpanded";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.list-main {
    display: flex;
    gap: 8px;
    padding-bottom: 45px;
}

.item-main {
    cursor: pointer;
    color: #352F2A;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    height: 60px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #352F2A;
}
.item-main--active{
    background: #352F2A;
    color: #E8E4D9;
}

.category-input{
  width: auto;
  max-width: 15ch;
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  background: none;
} 
.item-main--active .category-input{
  background: #352F2A;
  color: #E8E4D9;
}

.delete-category-btn{
  display: flex;
  align-items: center;
  background: #5f544c;
  border: 1px solid #6b5f55;
  border-radius: 5px;
  padding: 8px;
  margin-left: 5px;
}
.none-item {
    color: rgba(53, 47, 42, 0.50);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    border: 2px solid rgba(53, 47, 42, 0.50);
    background: rgba(232, 228, 217, 0.50);
}

.block-main-add-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}

.block-main-add-category-button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-category-add{
  font-size: 24px;
  display: inline-flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2.5px solid #352F2A;
  background-color: transparent;
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block-main-add-category {
  display: flex; 
  align-items: start;
}

.image-category-add {
  position: absolute;
  right: 12px;
  top: 3px;
  width: 36px;
  height: 36px;
  align-items: start;
  margin-bottom: auto;
}

.btn-category-add-input {
  position: relative;
  padding: 16px;
  height: 40px;
  width: 230px;
  display: flex;
  align-items: center;  
  justify-content: center;
  font-size: 20px;
  border-radius: 40px;
  border: 2.5px solid #352F2A;
  background-color: transparent;
  color: #352F2A;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block-main-add-category-plus {
  display: inline-flex;
  padding: 16px;
  height: 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid rgba(53, 47, 42, 0.50);
  background: rgba(232, 228, 217, 0.50);
  cursor: pointer;
  overflow: auto;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.block-main-add-category-button {
  display: flex;
  flex-wrap: wrap;
}

.image-main-add-category-plus {
  font-size: 46px;
  color: #352F2A;
  background-color: #E8E4D9;
}

.block-popular {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.list-popular {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.item-popular {
  cursor: pointer;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 698px;
  border-radius: 8px;
  background: #DAD5C9;
  flex: 0 1 32%;
  min-width: 588px; /* Мінімальна ширина для адаптивності */
  max-width: 32%;
}

  .image-popular-arrow {
    width: 45px;
    height: 45px;
    display: flex;
    margin-left: auto;
  }

  .text-popular {
    color: #5C544C;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
  }

// FOOTER

.footer {
    padding: 80px;
    background: #352F2A;
  }

  .container-footer-top {
    display: flex;
    align-items: start;
  }

  .title-footer {
    color: #DAD5C9;
    font-family: "SONGER SemiExpanded";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .block-footer {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 64px;
  }

  .list-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .title-text-footer {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .text-footer {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .container-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 80px;
  }

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .header {
    padding: 24px 32px;
  }
  .title-glorious {
    font-size: 32px;
  }
  .button-contact {
    font-size: 20px;
    height: 48px;
    padding: 11px 32px;
  }
  // main
  .main {
    padding: 0 32px;
    padding-top: 32px;
    padding-bottom: 80px;
  }
  .title-main-text {
    font-size: 96px;
  }
  .title-main {
    font-size: 16px;
  }
  .list-popular {
    gap: 26px;
  }
  .item-main {
    height: 48px;
    padding: 11px 32px;
    font-size: 20px;
  }
  .item-popular {
    min-width: 441px;
    height: 530px;
  }
  // footer
  .footer {
    padding: 64px;
    padding-bottom: 32px;
  }
  .title-footer {
    font-size: 48px;
  }
  .block-footer {
    gap: 48px;
  }
  .title-text-footer {
    font-size: 20px;
  }
  .text-footer {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  // header
  .header {
    padding: 26px 32px;
  }
  .title-glorious {
    font-size: 28px;
  }
  .button-contact {
    font-size: 18px;
    padding: 8px 32px;
    height: auto;
  }
  // main
  .main {
    max-width: 100%;
    padding: 20px 32px;
  }
  .container-main {
    max-width: 100%;
  }
  .title-main,
  .title-main-span {
    font-size: 16px;
  }
  .title-main-text {
    font-size: 80px;
  }
  .list-main {
    gap: 8px;
    padding-bottom: 24px;
  }
  .item-main {
    font-size: 18px;
    padding: 8px 16px;
    height: auto;
  }
  .list-popular {
    gap: 16px;
    max-width: 100%;
  }
  .item-popular {
    height: 439px;
    min-width: 368px;
  }
  .image-popular-arrow {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }
  .text-popular {
    font-size: 16px;
  }
  // footer
  .footer {
    padding: 40px;
  }
  .title-footer {
    font-size: 36px;
  }
  .title-text-footer,
  .text-footer {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .header {
    padding: 24px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    padding: 9px 32px;
  }
  // main
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
    padding-bottom: 120px;
  }
  .title-main {
    color: #352F2A;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
  }
  .title-main-span {
    color: #63574E;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .title-main-text {
    color: #352F2A;
    font-family: "SONGER SemiExpanded";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
  }
  .block-main-add-category-button {
    display: flex;
    justify-content: center;
    margin: 4px auto;
  }
  .block-main-add-category {
    display: flex;
    align-items: start;
  }
  .btn-category-add-input {
    font-size: 14px;
    width: 160px;
  }
  .image-category-add {
    align-items: start;
    margin-bottom: auto;
  }
  .list-main {
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 4px;
    padding-bottom: 16px;
  }
  .item-main {
    display: flex;
    height: 28px;
    padding: 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #352F2A;
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block-popular {
    gap: 16px;
    flex-direction: column;
  }
  .list-popular {
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .item-popular {
    height: 528px;
    flex-shrink: 0;
  }
  .image-popular {
    width: 100%;
    height: auto;
  }
  .image-popular-arrow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .text-popular {
    color: #5C544C;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  // footer
  .footer {
    padding: 24px;
  }
  .title-footer {
    font-size: 32px;
  }
  .title-text-footer,
  .text-footer {
    font-size: 16px;
  }
  .terms-of-use-tablet {
    display: flex;
    color: #352F2A;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline;
  }
  .block-footer {
    gap: 16px;
  }
  // contact me
.container-contact-me {
  width: 288px;
  height: 242px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 2px solid #352F2A;
  background: #E8E4D9;
  padding: 24px 16px;
}
.title-contact-me {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.498%;
  margin-top: 0;
}
.input-contact,
.input-contact::placeholder {
  font-size: 16px;
  height: 46px;
}
.button-contact-me {
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 112px;
  height: 36px;
}
.image-contact-me {
  width: 32px;
  height: 32px;
}
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .header {
    padding: 30px 16px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100px;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    width: 130px;
    height: 36px;
    padding: 0;
  }
  // main
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 16px;
  }
  .title-main {
    color: #352F2A;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
  }
  .title-main-span {
    color: #63574E;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .title-main-text {
    color: #352F2A;
    font-family: "SONGER SemiExpanded";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }
  .block-main-add-category-button {
    display: flex;
    justify-content: center;
    margin: 4px auto;
  }
  .block-main-add-category {
    display: flex;
    align-items: start;
  }
  .btn-category-add-input {
    font-size: 14px;
    width: 160px;
  }
  .image-category-add {
    align-items: start;
    margin-bottom: auto;
  }
  .list-main {
    flex-wrap: wrap;
    gap: 4px;
    padding-bottom: 16px;
  }
  .item-main {
    display: flex;
    height: 28px;
    padding: 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #352F2A;
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block-popular {
    gap: 16px;
    flex-direction: column;
  }
  .list-popular {
    flex-direction: column;
    gap: 16px;
  }
  .item-popular {
    width: 100%;
    height: 378px;
    flex-shrink: 0;
    min-width: 100%;
  }
  .image-popular {
    width: 100%;
    margin: 8px 0;
    height: auto;
  }
  .image-popular-arrow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .text-popular {
    color: #5C544C;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  // contact me
  .container-contact-me {
    width: 288px;
    height: 242px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #352F2A;
    background: #E8E4D9;
    padding: 24px 16px;
  }
  .title-contact-me {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.498%;
    margin-top: 0;
  }
  .input-contact,
  .input-contact::placeholder {
    font-size: 16px;
    height: 46px;
  }
  .button-contact-me {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 112px;
    height: 36px;
  }
  .image-contact-me {
    width: 32px;
    height: 32px;
  }
  // footer
  .footer {
      padding: 16px;
  }
  .container-footer-top {
      flex-direction: column;
  }
  .title-footer {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
  }
  .block-footer {
      flex-direction: column;
      margin: 0;
      gap: 16px;
  }
  .title-text-footer {
      margin-bottom: 4px;
      margin-top: 24px;
      color: #E8E4D9;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  .list-footer {
      gap: 8px;
  }
  .text-footer {
      color: #E8E4D9;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .container-footer-bottom {
      margin-top: 16px;
      flex-direction: column;
      align-items: center;
  }
  .text-footer {
      color: #E8E4D9;
      font-family: Manrope;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .text-footer-bottom-mobile {
      color: #E8E4D9;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0 auto;
      margin-top: 32px;
  }
  }
