// CONTACT ME
a, button { text-decoration: none; }

.contact-me.open {
  opacity: 1;
  pointer-events: auto;
}
.text-change-mobile,
.text-change {
  margin-bottom: 0;
}
.item-info-left-garanty-span {
  display: flex;
  align-items: center;
}
.title-change-mobile {
  display: flex;
  align-items: center;
}
.contact-me {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.container-contact-me {
  width: 542px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 24px;
  border: 3px solid #352F2A;
  background: #E8E4D9;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.title-contact-me-success {
  color: #352F2A;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block-contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-contact-me {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 136.498%;
}

.title-contact-me-success-bottom {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 36px;
}

.image-contact-me {
  cursor: pointer;
}

.container-contact-me {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.block-input-contact-me {
display: flex;
flex-direction: column;
gap: 16px;
}

.input-contact {
border-radius: 8px;
background: #DAD5C9;
border: 1px solid #352F2A;
padding: 16px;
color: #5C544C;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 64px;
width: 100%;
}

.button-contact-me {
color: #E8E4D9;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 40px;
background: #352F2A;
width: 212px;
height: 60px;
border: #352F2A 1px solid;
transition: all 0.3s ease ;
margin-top: 36px;
}

.button-contact-me:hover {
background: #E8E4D9;
color: #352F2A;
}

.open-blur {
opacity: 0.51;
background: #E8E4D9;
filter: blur(2px);
pointer-events: none;
}

.header {
  padding: 24px 40px;
  background-color: #352F2A;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-glorious {
  color: #E8E4D9;
  font-family: "SONGER SemiExpanded";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 0;
}

.button-contact {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #E8E4D9 1px solid;
  display: flex;
  height: 60px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #E8E4D9;
  transition: all 0.3s ease;
}

.button-contact:hover {
  background: #352F2A;
  color: #E8E4D9;
}

// MAIN

.container-product {
  background-color: #E8E4D9;
  padding: 0 40px;
  padding-top: 32px;
  padding-bottom: 80px;
}

.container-swiper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #DAD5C9;
  width: 976px;
  height: 836px;
  flex-shrink: 0;
}

.swiper-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 16px;
  max-width: 1013px;
  width: 100%;
  overflow: hidden;
}

.swiper-pagination-photo {
  width: 140px;
  height: auto;
  flex-shrink: 0;
  background: #DAD5C9;
  transition: all 0.3s ease;
}

.swiper-pagination-photo:hover {
  transform: scale(1.1);
}

.swiper-product-image {
  position: relative;
  width: 800px;
  height: auto;
  flex-shrink: 0;
  margin: 0 8px;
  transition: transform 0.3s ease-in-out;
}

.container-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8E4D9;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.container-arrow:disabled{
  cursor: default;
  opacity: 0.5;
}

.container-swiper-pagination-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 146px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #DAD5C9;
}

.block-product {
  display: flex;
  justify-content: space-between;
}

.block-title-product {
  display: flex;
  justify-content: space-between;
}

.title-main {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title-main-span {
  color: #63574E;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title-change {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.image-change {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.title-product {
  color: #352F2A;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
}

.title-product-span-price {
  font-weight: 600;
}

.title-product-text {
  color: #352F2A;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-top: 180px;
  margin-bottom: 8px;
}

.image-color {
  padding: 6px;
}

.image-color:active {
  border: #352F2A 3px solid;
  border-radius: 50%;
  padding: 3px;
}

.line {
  width: 808px;
  height: 2px;
  flex-shrink: 0;
  background: #352F2A;
  margin-bottom: 8px;
}

.text-product {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  width: 809px;
  margin-bottom: 32px;
}

.title-product-text-garanty {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 32px;
}

.button-product {
  color: #E8E4D9 !important;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #352F2A 1px solid;display: flex;
  width: 350px;
  padding: 16px 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #352F2A;
  transition: all 0.3s ease;
  margin-top: 64px;
  background: #352F2A;
}

.button-product:hover {
  background: #E8E4D9;
  color: #352F2A !important;
}

.buttons-product {
  display: flex;
  gap: 16px;
}

.button-products {
  color: #E8E4D9;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #352F2A;
  background: #352F2A;
  transition: all 0.3s ease;
}

.button-products:hover {
  background: #E8E4D9;
  color: #352F2A;
}

.title-info-product {
  color: #352F2A;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.92px;
}

.line-info {
  width: 889px;
  height: 2px;
  flex-shrink: 0;
  background: #352F2A;
  margin-top: 8px;
  margin-bottom: 16px;
}

.lists-info-product {
  display: flex;
  gap: 64px;
}

.textarea-info,
.textarea-info-info {
  margin: 0;
  font-size: 24px;
}

.list-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 410px;
  padding: 0;
  margin: 0;
}

.item-info-title {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textarea-info {
  color: #352F2A;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #E8E4D9;
  resize: none;

}

.textarea-info-info {
  color: #352F2A;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 434px;
  background-color: #E8E4D9;
  resize: none;
}

.textarea-info-info-left {
  max-width: 840px;
  background-color: transparent;
  resize: none;
}

.textarea-info-info-left-text {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.block-info-product {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.line-info-left {
  width: 840px;
  height: 2px;
  flex-shrink: 0;
  background: #352F2A;
}

.list-info-left {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 840px;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.terms-of-use{
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-decoration: underline;
}

.title-popular {
  color: #352F2A;
  font-family: "SONGER SemiExpanded";
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 32px;
}

.item-info-left {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

.item-info-left-garanty {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  text-decoration: underline;
}

.item-info-left-garanty-line {
  max-width: 67%;
  height: 2px;
  flex-shrink: 0;
  background: #352F2A;
}

.item-info-left-span {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.item-info-left-span {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.list-popular {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.item-popular {
  cursor: pointer;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: 698px;
  border-radius: 8px;
  background: #DAD5C9;
}

.image-popular-arrow {
  width: 45px;
  height: 45px;
  display: flex;
  margin-left: auto;
}

.text-popular {
  color: #5C544C;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}

.text-popular-price {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

// FOOTER

.footer {
  padding: 80px;
  background: #352F2A;
}

.container-footer-top {
  display: flex;
  align-items: start;
}

.title-footer {
  color: #DAD5C9;
  font-family: "SONGER SemiExpanded";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block-footer {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.list-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.title-text-footer {
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text-footer {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.container-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 80px;
}

.title-main-mobile,
.block-product-text-mobile {
  display: none;
}

.item-info-left-garanty-arrow {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .header {
    padding: 24px 32px;
  }
  .title-glorious {
    font-size: 32px;
  }
  .button-contact {
    font-size: 20px;
    height: 48px;
    padding: 11px 32px;
  }
  // main
  .container-product {
    padding-left: 32px;
    padding-right: 32px;
  }
  .container-swiper {
    width: 756px;
    height: 648px;
  }
  .swiper-product-image {
    width: 648px;
  }
  .container-arrow {
    width: 48px;
    height: 48px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
    padding: 0;
  }
  .swiper-pagination {
    width: 100%;
    gap: 38px;

  }
  .container-swiper-pagination-photo {
    width: 160px;
    height: 137px;
    flex-shrink: 0;
  }
  .title-main,
  .title-main-span {
    font-size: 16px;
  }
  .title-change {
    font-size: 16px;
  }
  .image-change {
    width: 20px;
    height: 20px;
  }
  .title-product {
    font-size: 36px;
  }
  .title-product-text {
    font-size: 36px;
    margin-top: 80px;
  }
  .line {
    width: 100%;
  }
  .text-product {
    font-size: 20px;
    width: 558px;
    letter-spacing: 0.2px;
  }
  .title-product-text-garanty {
    font-size: 20px;
  }
  .button-product {
    font-size: 20px;
    width: 242px;
    padding: 0;
    height: 48px;
    margin-top: 16px;
  }
  .button-products {
    font-size: 20px;
    height: 48px;
  }
  .title-info-product {
    font-size: 40px;
  }
  .line-info {
    width: 708px;
  }
  .line-info-left {
    width: 580px;
  }
  .block-info-left {
    max-width: 580px;
  }
  .lists-info-product {
      font-size: 24px;
      gap: 16px;
  }
  .list-info {
    gap: 34px;
    width: 362px;
  }
  .item-info-title {
    font-size: 20px;
  }
  .textarea-info {
    font-size: 20px;
  }
  .list-info-left {
    width: 612px;
  }
  .item-info-left {
    font-size: 20px;
  }
  .item-popular {
    height: 530px;
  }
  .title-popular {
    font-size: 96px;
  }
  .text-footer {
    gap: 8px;
  }
  // footer
  .footer {
    padding: 64px;
    padding-bottom: 32px;
  }
  .title-footer {
    font-size: 48px;
  }
  .block-footer {
    gap: 48px;
  }
  .title-text-footer {
    font-size: 20px;
  }
  .text-footer {
    font-size: 20px;
  }
  .terms-of-use {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    // header
  .header {
    padding: 26px 32px;
  }
  .title-glorious {
    font-size: 28px;
  }
  .text-change-mobile {
    margin-bottom: 0;
  }
  .item-info-left-garanty-span {
    display: flex;
    align-items: center;
  }
  .button-contact {
    font-size: 18px;
    padding: 8px 32px;
    height: auto;
  }
  // main
  .title-main,
  .title-main-span {
    font-size: 16px;
  }
  .container-swiper {
    width: 613px;
    height: 518px;
    flex-shrink: 0;
  }
  .swiper-product-image {
    width: 84%;
  }
  .container-arrow {
    width: 38px;
    height: 38px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 24px;
    height: 24px;
  }
  .container-swiper-pagination-photo {
    width: 137px;
    height: 116px;
  }
  .swiper-pagination-photo {
    width: 90%;
  }
  .swiper-pagination {
    gap: 22px;
  }
  .title-product-text {
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .text-product {
    font-size: 18px;
    margin-bottom: 8px;
    width: 483px;
  }
  .line {
    width: 100%;
  }
  .image-change {
    width: 24px;
    height: 24px;
  }
  .title-change {
    font-size: 18px;
  }
  .title-product {
    font-size: 32px;
  }
  .title-product-text-garanty {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .button-products {
    font-size: 18px;
    padding: 8px 32px;
  }
  .title-info-product{
    font-size: 32px;
  }
  .lists-info-product {
    gap: 16px;
  }
  .list-info {
    width: 270px;
  }
  .list-info-left {
    width: 442px;
  }
  .line-info,
  .line-info-left {
    width: 100%;
  }
  .item-info-title,
  .textarea-info,
  .item-info-left,
  .item-info-left-span {
    font-size: 18px;
  }
  .item-info-left-garanty {
    font-size: 18px;
  }
  .item-info-left-garanty-line{
    max-width: 424px;
    width: 100%;
  }
  .item-popular {
    height: 439px;
  }
  .title-popular {
    font-size: 80px;
  }
  .image-popular-arrow {
    width: 32px;
    height: 32px;
  }
  .text-popular {
    font-size: 24px;
  }
  .text-popular-price {
    font-size: 18px;
  }
  // footer
  .footer {
    padding: 40px;
  }
  .title-footer {
    font-size: 36px;
  }
  .title-text-footer,
  .text-footer {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .header {
    padding: 24px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    padding: 9px 32px;
  }
  // main
  .block-product {
    display: flex;
    flex-direction: column;
  }
  .container-product {
    padding: 14px 24px;
    padding-bottom: 48px;
  }
  .container-swiper {
    width: 100%;
    height: auto;
  }
  .swiper-pagination {
    display: none;
  }
  .container-swiper {
    width: 100%;
    height: 600px;
  }
  .swiper-product-image {
    width: 80%;
    height: auto;
    margin: 0;
  }
  .container-arrow {
    width: 64px;
    height: 64px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;
    height: 36px;
  }
  .title-main {
    display: none;
  }
  .title-main-mobile {
    display: flex;
    color: #352F2A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .title-main-span-mobile {
    color: #63574E;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block-product-text-mobile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .title-change-mobile {
    color: #352F2A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .image-change-mobile {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
  .title-change {
    display: none;
  }
  .title-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    flex-direction: row;
  }
  .title-product-span-price {
    color: #352F2A;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 36px;
  }
  .title-product-text {
    margin-top: 16px;
    color: #352F2A;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .line {
    width: 100%;
    height: 2px;
    flex-shrink: 0;
    margin-bottom: 2px;
  }
  .text-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    width: 100%;
  }
  .title-product-text-garanty {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
  }
  .buttons-product {
    gap: 4px;
  }
  .button-product,
  .button-products {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 9px 64px;
    width: 204px;
  }
  .lists-info-product {
    gap: 8px;
  }
  .list-info {
    gap: 16px;
    width: 100%;
  }
  .title-product-text-garanty {
    font-size: 20px;
  }
  .block-info-product {
    flex-direction: column;
  }
  .block-info-right {
    flex-direction: column;
  }
  .lists-info-product {
    flex-direction: column;
  }
  .title-info-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
  }
  .line-info {
    margin: 4px 0;
    width: 100%;
  }
  .item-info-title {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .textarea-info {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .block-info-left {
    flex-direction: column;
  }
  .line-info-left {
    width: 100%;
  }
  .list-info-left {
    width: 100%;
    gap: 16px;
  }
  .item-info-left-garanty {
    font-size: 20px;
  }
  .item-info-left-garanty-line {
    max-width: 470px;
    width: 100%;
  }
  .item-info-left {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .item-info-left-span {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .title-popular {
    color: #352F2A;
    font-family: "SONGER SemiExpanded";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    margin: 32px 0;
  }
  .list-popular {
    flex-wrap: wrap;
    margin: 0;
    gap: 16px;
  }
  .item-popular {
    width: 48%;
    height: 439px;
  }
  .image-popular-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .text-popular,
  .text-popular-price {
    color: #5C544C;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .item-popular-span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // footer
  .footer {
    padding: 24px;
  }
  .title-footer {
    font-size: 32px;
  }
  .title-text-footer,
  .text-footer {
    font-size: 16px;
  }
  .terms-of-use-tablet {
    display: flex;
    color: #352F2A;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline;
  }
  .block-footer {
    gap: 16px;
  }
  .terms-of-use {
    font-size: 14px;
  }
  .text-footer-map {
    max-width: 214px;
  }
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .header {
    padding: 30px 16px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100px;
  }
  .button-contact {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #E8E4D9;
    width: 130px;
    height: 36px;
    padding: 0;
  }
  .block-product {
    display: flex;
    flex-direction: column;
  }
  .container-product {
    padding: 24px 16px;
  }
  .container-swiper {
    width: 100%;
    height: auto;
  }
  .swiper-pagination {
    display: none;
  }
  .container-swiper {
    width: 100%;
    height: 247px;
  }
  .swiper-product-image {
    width: 80%;
    height: auto;
    margin: 0;
  }
  .container-arrow {
    width: 32px;
    height: 32px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 24px;
  }
  .title-main-mobile {
    display: flex;
    color: #352F2A;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .title-main-span-mobile {
    color: #63574E;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block-product-text-mobile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .title-change-mobile {
    color: #352F2A;
    font-family: Manrope;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
  }
  .image-change-mobile {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
  .title-change {
    display: none;
  }
  .title-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    flex-direction: row;
  }
  .title-product-span-price {
    color: #352F2A;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
  }
  .title-product-text {
    margin-top: 8px;
    margin-bottom: 4px;
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .line {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    margin-bottom: 4px;
  }
  .text-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
    width: 100%;
    letter-spacing: 0px;
  }
  .title-product-text {
    letter-spacing: 0px;
    font-weight: 700;
  }
  .title-product-text-garanty {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    letter-spacing: 0px;
  }
  .buttons-product {
    gap: 4px;
  }
  .button-product,
  .button-products {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 148px;
    height: 36px;
    padding: 0;
    margin-top: 16px;
    letter-spacing: 0.2px;
  }
  .lists-info-product {
    gap: 8px;
  }
  .list-info {
    gap: 16px;
    width: 100%;
  }
  .block-info-product {
    flex-direction: column;
  }
  .block-info-right {
    flex-direction: column;
  }
  .lists-info-product {
    flex-direction: column;
  }
  .title-info-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
  }
  .line-info {
    margin: 4px 0;
    width: 100%;
  }
  .item-info-title {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .textarea-info {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block-info-left {
    flex-direction: column;
  }
  .title-info-product {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
    letter-spacing: 0px;
    margin-top: 16px;
  }
  .line-info-left {
    width: 100%;
  }
  .list-info-left {
    width: 100%;
    gap: 16px;
    margin-top: 4px;
  }
  .item-info-left-garanty {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-info-left-garanty-span {
    font-size: 11px;
    display: flex;
    align-items: center;
  }
  .item-info-left-garanty-line {
    width: 100%;
    max-width: 90%;
    margin-right: 12px;
  }
  .item-info-left-garanty-arrow{
    margin-left: 8px;
    width: 16px;
    height: 16px;
  }
  .item-info-left {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .item-info-left-span {
    color: #352F2A;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .title-popular {
    color: #352F2A;
    font-family: "SONGER SemiExpanded";
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    margin: 16px 0;
  }
  .list-popular {
    margin: 0;
    flex-direction: column;
    gap: 16px;
  }
  .item-popular {
    width: 100%;
    height: 358px;
  }
  .image-popular-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .text-popular,
  .text-popular-price {
    color: #5C544C;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .item-popular-span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .input-admin-product-info-materials {
    font-size: 20px;
  }
   // footer
   .footer {
    padding: 16px;
}
.container-footer-top {
    flex-direction: column;
}
.title-footer {
    color: #E8E4D9;
    font-family: "SONGER SemiExpanded";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.block-footer {
    flex-direction: column;
    margin: 0;
    gap: 16px;
}
.title-text-footer {
    margin-bottom: 4px;
    margin-top: 24px;
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.list-footer {
    gap: 8px;
}
.text-footer {
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container-footer-bottom {
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
}
.text-footer {
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-footer-bottom-mobile {
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
    margin-top: 32px;
    align-items: center;
    display: flex;
}
.title-main {
  display: none;
}
}
























// Admin-panel



























.admin-panel {
  background: #E8E4D9;
  padding-bottom: 160px;
}

.container-admin-panel {
  padding: 32px 40px;
}

.block-admin-products {
  display: flex;
  gap: 55px;
}

.photos-admin-product {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-admin-product-mobile {
  display: none;
}

.title-admin-product {
  display: flex;
  justify-content: space-between;
}

.block-admin-product-info-text{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.photo-admin-product {
  position: relative;
  width: 976px;
  height: 836px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #DAD5C9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-photo-btn{
  font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #352F2A;
    background: #352F2A;
    color: #E8E4D9;
    transition: all 0.3s ease;
    position: absolute; cursor: pointer; top: 5%; right:5%
}

.small-photos-admin-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.small-photo-admin-product {
  position: relative;
  width: 170px;
  height: 146px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #DAD5C9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.plus-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  padding: 8px;
  background-color: #E8E4D9;
  border-radius: 50%;
}

.plus-photo-small{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  padding: 8px;
  background-color: #E8E4D9;
  border-radius: 50%;
}

.main-photo {
  width: 100%;
  max-height: 86%;
}

.small-photo {
  width: 140px;
  height: auto;
}

.text-admin-product  {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.select-admin-product {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  background-color: transparent;
}

.block-admin-product-info {
  gap: 64px;
  display: flex;
  justify-content: space-between;
}

.input-admin-product-info-materials,
.input-admin-product-info-materials::placeholder {
  max-width: 434px;
  width: 100%;
  min-height: 301px;
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 43.2px */
  resize: none;
  background-color: transparent;
}

.title-admin-product-span-reg {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.title-admin-product-span {
  color: #63574E;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.input-admin-product-name {
  color: #352F2A;
  background: transparent;
  font-size: 48px;
  font-family: Manrope;
}

.input-admin-product-price {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  background: transparent;
  margin-top: 32px;
}

.input-admin-product-price::placeholder {
  color: #63574E;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.input-admin-product-name::placeholder {
  color: #63574E;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-admin-product-description {
  color: #352F2A;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
  margin-top: 220px;
}

.line-admin-product {
  background: #352F2A;
  height: 2px;
  width: 100%;
}

.input-admin-product-description {
  font-size: 24px;
  color: #352F2A;
  background: transparent;
  font-family: Manrope;
}

.input-admin-product-description::placeholder {
  color: #63574E;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.text-admin-product-garanty {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-admin-product {
  color: #E8E4D9;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 360px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #352F2A;
  background: #352F2A;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.button-admin-product:hover {
  background: #E8E4D9;
  color: #352F2A;
}

.block-admin-product {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.title-admin-product-text {
  color: #352F2A;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.line-admin-product-info {
  background: #352F2A;
  height: 2px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
}

.input-admin-product-info {
  font-size: 24px;
  color: #352F2A;
  background: transparent;
  font-family: Manrope;
  width: 100%;
}

.input-admin-product-info::placeholder {
  color: #63574E;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

// FOOTER

.footer {
  padding: 80px;
  background: #352F2A;
}

.container-footer-top {
  display: flex;
  align-items: start;
}

.title-footer {
  color: #DAD5C9;
  font-family: "SONGER SemiExpanded";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block-footer {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.list-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-text-footer {
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text-footer {
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 80px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  // header
.header {
  padding: 24px 32px;
}
.title-glorious {
  font-size: 32px;
}
// main
.container-admin-panel {
  padding: 24px 32px;
}
.block-admin-products {
  gap: 32px;
}
.photo-admin-product {
  width: 742px;
  height: 582px;
}
.main-photo {
  width: 632px;
  height: auto;
}
.small-photo {
  width: 100px;
}
.select-admin-product {
  font-size: 20px;
}
.input-admin-product-name{
  font-size: 38px;
}
.input-admin-product-price,
.input-admin-product-price::placeholder {
  margin-top: 0;
}
.input-admin-product-name::placeholder {
  font-size: 38px;
}
.text-admin-product-description,
.text-admin-product-description::placeholder {
  margin-top: 30px;
  font-size: 28px;
}
.button-admin-product {
  margin-top: 14px;
}
.block-admin-product {
  gap: 64px;
}
.title-admin-product-text {
  font-size: 34px;
  margin-top: 16px;
}
.input-admin-product-info,
.input-admin-product-info::placeholder {
  font-size: 20px;
  min-width: 272px;
}
.textarea-info-info {
  font-size: 22px;
}

// footer
.footer {
  padding: 64px;
  padding-bottom: 32px;
}
.title-footer {
  font-size: 48px;
}
.block-footer {
  gap: 48px;
}
.title-text-footer {
  font-size: 20px;
}
.text-footer {
  font-size: 20px;
}
.textarea-info-info-left-text {
  font-size: 22px;
  max-width: 580px;
}
.item-info-left-garanty-span{
  display: flex;
  align-items: center;
  font-size: 20px;
}
.item-info-left-garanty-arrow {
  width: 18px;
  height: 18px;
}
.swiper-pagination {
  max-width: 800px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  // header
.header {
  padding: 26px 32px;
}
.title-glorious {
  font-size: 32px;
}
// main
.container-admin-panel {
  padding: 24px;
}
.photo-admin-product {
  width: 613px;
  height: 518px;
  flex-shrink: 0;
}
.main-photo {
  width: 100%;
  height: auto;
}
.small-photo {
  width: 100%;
  height: auto;
}
.title-admin-product-span,
.select-admin-product {
  font-size: 16px;
}
.input-admin-product-info-materials,
.input-admin-product-info-materials::placeholder {
  font-size: 18px;
  min-width: 162px;
}
.textarea-info-info-left-text{
  font-size: 18px;
}
.textarea-info-info{
  font-size: 18px;
}
.button-product {
  width: 214px;
  height: 41px;
  font-size: 18px;
}
.title-admin-product-span-reg{
  font-size: 18px;
}
.input-admin-product-info,
.input-admin-product-info::placeholder {
  font-size: 16px;
  min-width: 256px;
}
.input-admin-product-name,
.input-admin-product-name::placeholder {
  font-size: 32px;
}
.input-admin-product-price,
.input-admin-product-price::placeholder {
  font-size: 32px;
  margin-top: 0;
}
.text-admin-product-description {
  font-size: 32px;
  margin-top: 70px;
}
.input-admin-product-description,
.input-admin-product-description::placeholder {
  font-size: 16px;
}
.text-admin-product-garanty {
  font-size: 18px;
}
.button-admin-product {
  margin-top: 14px;
  height: 41px;
  font-size: 18px;
  width: 192px;
}
.swiper-pagination {
  max-width: 761px;
}
.title-admin-product-text {
  font-size: 32px;
}
.line-admin-product-info{
  margin: 4px 0 ;
}
.block-admin-product-info {
  display: flex;
}
.input-admin-product-info,
.input-admin-product-info::placeholder {
  font-size: 18px;
}
.item-info-left-garanty-arrow {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
  // footer
.footer {
  padding: 40px;
}
.title-footer {
  font-size: 36px;
}
.title-text-footer,
.text-footer {
  font-size: 20px;
}
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
.header {
  padding: 24px;
}
.title-glorious {
    color: #E8E4D9;
    font-family: "SONGER SemiExpanded";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.button-contact {
  color: #352F2A;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 40px;
  background: #E8E4D9;
  padding: 4px 24px;
  height: 42px;
}
// main
.admin-panel {
  padding-bottom: 80px;
}
.container-admin-panel {
  padding: 24px 16px;
}
.title-admin-product-mobile {
  display: flex;
}
.title-admin-product-text-mobile {
  width: 100%;
  display: flex;
}
.title-admin-product-text-mobile {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.title-admin-product-span-mobile {
  color: #63574E;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-admin-product-info-materials,
.input-admin-product-info-materials::placeholder {
  font-size: 20px;
}
.textarea-info-info-left-text {
  font-size: 20px;
}
.title-admin-product-span-reg {
  font-size: 20px;
  margin-left: auto;
}
.select-admin-product {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.textarea-info-info {
  font-size: 20px;
}
.lists-info-product {
  gap: 48px;
}
.photos-admin-product {
  gap: 4px;
}
.photo-admin-product {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
}
.small-photo-admin-product {
  display: none;
}
.block-admin-products {
  flex-direction: column;
  gap: 8px;
}
.title-admin-product {
  display: none;
}
.input-admin-product-name,
.input-admin-product-price {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-admin-product-name::placeholder,
.input-admin-product-price::placeholder {
  color: #352F2A;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-admin-product-price {
  margin-top: 16px;
}
.text-admin-product-description {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 8px;
}
.input-admin-product-description {
  font-size: 20px;
  color: #352F2A;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.input-admin-product-description::placeholder {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.line-admin-product {
  width: 100%;
  height: 2px;
  flex-shrink: 0;
}
.text-admin-product {
  width: 100%;
}
.text-admin-product-garanty {
  margin-top: 150px;
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.52px;
}
.button-admin-product {
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 230px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #352F2A;
  margin-top: 8px;
}
.block-admin-product {
  flex-direction: column;
}
.title-admin-product-text {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.line-admin-product-info {
  width: 100%;
  height: 2px;
  margin: 4px 0;
}
.title-product-span-price {
  font-size: 28px;
}
.input-admin-product-info {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
}
.input-admin-product-info::placeholder {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.item-info-left-garanty-arrow {
  width: 18px;
  height: 18px;
}
// footer
.footer {
  padding: 24px;
}
.title-footer {
  font-size: 32px;
}
.title-text-footer,
.text-footer {
  font-size: 16px;
}
.terms-of-use-tablet {
  display: flex;
  color: #352F2A;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}
.block-footer {
  gap: 16px;
}
.main-photo {
  width: 100%;
  height: auto;
}
// contact me
.container-contact-me {
  width: 288px;
  height: 255px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 2px solid #352F2A;
  background: #E8E4D9;
  padding: 24px 16px;
}
.title-contact-me {
  color: #352F2A;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.498%;
  margin-top: 0;
}
.input-contact,
.input-contact::placeholder {
  font-size: 16px;
  height: 46px;
}
.button-contact-me {
  color: #DAD5C9;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 112px;
  height: 36px;
  margin-top: 16px;
}
.image-contact-me {
  width: 32px;
  height: 32px;
}
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .header {
      padding: 30px 16px;
  }
  .title-glorious {
      color: #E8E4D9;
      font-family: "SONGER SemiExpanded";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100px;
  }
  .admin-panel {
      padding-bottom: 80px;
  }
  .container-admin-panel {
      padding: 24px 16px;
  }
  .title-admin-product-mobile {
      display: flex;
  }
  .title-admin-product-text-mobile {
      color: #352F2A;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .title-admin-product-span-mobile {
      color: #63574E;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .select-admin-product {
      color: #352F2A;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .title-admin-product-text-mobile{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .title-admin-product-span-reg {
    font-size: 10px;
  }
  .main-photo {
    width: 100%;
  }
  .photos-admin-product {
      gap: 4px;
  }
  .photo-admin-product {
      width: 100%;
      height: 247px;
      flex-shrink: 0;
  }
  .small-photo-admin-product {
      display: none;
  }
  .block-admin-products {
      flex-direction: column;
      gap: 8px;
  }
  .title-admin-product {
      display: none;
  }
  .lists-info-product{
    gap: 48px;
  }
  .input-admin-product-name,
  .input-admin-product-price {
      color: #352F2A;
      font-family: Manrope;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .input-admin-product-name::placeholder,
  .input-admin-product-price::placeholder {
      color: #352F2A;
      font-family: Manrope;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .input-admin-product-price {
      margin-top: 16px;
  }
  .text-admin-product-description {
      color: #352F2A;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 8px;
  }
  .input-admin-product-description {
      font-size: 13px;
      color: #352F2A;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 16px;
  }
  .input-admin-product-description::placeholder {
      color: #352F2A;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .line-admin-product {
      width: 100%;
      height: 1px;
      flex-shrink: 0;
  }
  .text-admin-product {
      width: 100%;
  }
  .text-admin-product-garanty {
      margin-top: 30px;
      color: #352F2A;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.52px;
  }
  .button-admin-product {
      color: #DAD5C9;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 130px;
      height: 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 40px;
      background: #352F2A;
      margin-top: 8px;
  }
  .block-admin-product-info {
    display: flex;
    flex-direction: column;
  }
  .block-admin-product {
    gap: 0;
      flex-direction: column;
  }
  .textarea-info-info-left-text {
    font-size: 13px;
  }
  .textarea-info-info {
    font-size: 13px;
    font-weight: 600;
  }
  .textarea-info{
    font-weight: 600;
  }
  .list-info,
  .list-info-left {
    padding: 0;
  }
  .title-admin-product-text {
      color: #352F2A;
      font-family: Manrope;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 16px;
  }
  .line-admin-product-info {
      width: 100%;
      height: 1px;
      margin: 4px 0;
  }
  .input-admin-product-info {
      color: #352F2A;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100%;
  }
  .input-admin-product-info-materials {
    font-size: 13px;
    height: 100%;
  }
  .input-admin-product-info::placeholder,
  .input-admin-product-info-materials::placeholder {
      color: #352F2A;
      font-family: Manrope;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  .item-info-left-garanty {
    align-items: start;
  }
  // contact me
  .container-contact-me {
    width: 288px;
    height: auto;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #352F2A;
    background: #E8E4D9;
    padding: 16px;
  }
  .title-contact-me {
    color: #352F2A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.498%;
    margin-top: 0;
  }
  .input-contact,
  .input-contact::placeholder {
    font-size: 16px;
    height: 46px;
  }
  .title-contact-me-success {
    font-size: 20px;
  }
  .title-contact-me-success-bottom{
    font-size: 13px;
  }
  .button-contact-me {
    color: #DAD5C9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 112px;
    height: 36px;
    margin-top: 12px;
  }
  .image-contact-me {
    width: 32px;
    height: 32px;
  }
  // footer
  .footer {
    padding: 16px;
}
.container-footer-top {
    flex-direction: column;
}
.title-footer {
    color: #E8E4D9;
    font-family: "SONGER SemiExpanded";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.block-footer {
    flex-direction: column;
    margin: 0;
    gap: 16px;
}
.title-text-footer {
    margin-bottom: 4px;
    margin-top: 24px;
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.list-footer {
    gap: 8px;
    align-items: start;
}
.text-footer {
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.block-footer-bottom {
  margin-right: auto;
}
.container-footer-bottom {
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
}
.text-footer {
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.terms-of-use{
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
}
.text-footer-bottom-mobile {
    color: #E8E4D9;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
    margin-top: 32px;
}
.text-footer-bottom-mobile {
  align-items: center;
}
}