.footer {
    display: none;
}

.sitemap-container {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .sitemap-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sitemap-container li {
    margin-bottom: 10px;
  }
  
  .sitemap-container a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    word-break: break-all;
    white-space: pre-wrap;
  }
  
  .sitemap-container a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .sitemap-info {
    font-size: 18px;
    word-break: break-all;
    white-space: pre-wrap;
  }