<div class="wrapper-blur" [ngClass]="{'open-blur': isContactOpen}">
  <div class="header">
  <div class="container-header">
      <p class="title-glorious" routerLink="">GLORIOUS</p>
      <div class="menu-buttons">
          <button class="button-contact" routerLink="/catalog">КАТАЛОГ</button>
          <button (click)="openContact()" class="button-contact">КОНТАКТ З НАМИ</button>
      </div>
  </div>
</div>
<div class="block-blog">
  <div class="container-blog">
    <p class="title-blog">блог</p>
    <ul class="list-blog">
      <li *ngFor="let post of posts" [routerLink]="['/blog', post.id]" class="item-blog">
        <img class="image-blog" [src]="post.image" alt="">
        <div class="container-blog-text">
          <p class="title-container-text-blog">{{ post.title }}</p>
          <p class="text-container-blog">{{ post.text }}</p>
          <div class="container-blog-arrow">
            <p class="title-container-text-blog-arrow">{{ post.linkText }}</p>
            <img class="image-blog-arrow" src="../../../assets/arrow-up-right.svg" alt="">
          </div>
        </div>
      </li>
    </ul>    
  </div>
</div>
<div class="footer" id="contact">
  <div class="container-footer-top">
      <p class="title-footer">GLORIOUS</p>
      <div class="block-footer">
        <div class="list-footer">
          <p class="title-text-footer">ПРО НАС</p>
          <p class="text-footer">КОМФОРТ НА РОКИ</p>
          <p class="text-footer">ПОПУЛЯРНІ ТОВАРИ</p>
          <p class="text-footer">НАШІ ПЕРЕВАГИ</p>
        </div>
        <div class="list-footer">
          <p class="title-text-footer">ЗВ’ЯЗОК</p>
          <a href="tel:+380 73 800 4410" class="text-footer">+380 73 800 4410</a>
          <a href="tel:+380 68 800 4410" class="text-footer">+380 68 800 4410</a>
          <a href="mailto:gloriousmebel&#64;gmail.com" class="text-footer">gloriousmebel&#64;gmail.com</a>
        </div>
        <div class="list-footer">
          <p class="title-text-footer">СЛІДКУЙ ЗА НАМИ</p>
          <a href="https://www.facebook.com/profile.php?id=61563935930922" class="text-footer" target="_blank">FACEBOOK</a>
          <a href="https://www.instagram.com/glorious_sofa/" class="text-footer" target="_blank">INSTAGRAM</a>
        </div>
      </div>
    </div>
    <div class="container-footer-bottom">
      <div class="block-footer-bottom">
        <p class="title-text-footer">НАША АДРЕСА</p>
        <a href="https://maps.app.goo.gl/V6pgHoX6BtCKdhSL6" class="text-footer" target="_blank">Черкаси Вул. Чорновола Вʼячеслава Будинок 175</a>
      </div>
      <div>
        <p class="text-footer text-footer-bottom-mobile"><span routerLink="/terms-of-use" class="terms-of-use">УМОВИ ВИКОРИСТАННЯ МЕБЛІВ</span> Всі права захищені All rights reserved</p>
      </div>
    </div>
</div>
</div>


<!-- contact for me -->
<div class="contact-me" [ngClass]="{'open': isContactOpen}">
  <div class="container-contact-me">
    @if(successForm){
      <div style="display: flex; flex-direction: column; ">
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <p class="title-contact-me-success">ДЯКУЄМО!</p>
          <div style="display: flex; align-items: center; height: 100%; ">
            <img class="close-contact-me image-contact-me" (click)="closeContact()" [ngClass]="{'open': isContactOpen}" src="../../../assets/x.svg" alt="">
          </div>
        </div>
        <div>
          <span class="title-contact-me-success-bottom">ОЧІКУЙТЕ ДЗВІНКА НАЙБЛИЖЧИМ ЧАСОМ </span>
        </div>
      </div>
    }@else {
      <div class="block-contact-me">
        <p class="title-contact-me">ЗАЛИШ ЗАЯВКУ</p>
        <img class="close-contact-me image-contact-me" (click)="closeContact()" [ngClass]="{'open': isContactOpen}" src="../../../assets/x.svg" alt="">
      </div>
      <div class="block-input-contact-me">
        <input class="input-contact" type="text" [(ngModel)]="contactName" placeholder="Ім’я">
        <input class="input-contact" type="text" [(ngModel)]="contactPhone" placeholder="Номер телефону">
      </div>
      <button class="button-contact-me" (click)="sendContact()">ВІДПРАВИТИ</button>
    }
    
  </div>
 </div>